@use "../variables";

html {
	font-family: variables.$font-family-base;
	font-size: variables.$font-size-base;
	line-height: variables.$line-height-base;
}

h1 {
	font-size: variables.$font-size-h1;
}

h2 {
	font-size: variables.$font-size-h2;
}

h3 {
	font-size: variables.$font-size-h3;
}

h4 {
	font-size: variables.$font-size-h4;
}

h1,
h2,
h3,
h4 {
	color: variables.$color-text;
	font-weight: variables.$font-weight-normal;
	line-height: variables.$line-height-headings;
}
