// Brand
$color-purple: #44206d;
$color-peach: #f9c287;
$color-purple-light: #9346ea;


// Grays
$color-black: #121212;
$color-gray-dark: #222;
$color-gray: #626262;
$color-gray-purple: #5c517e;
$color-gray-blue: #8ca2bc;
$color-gray-light: #f5f9fa;
$color-white: #fff;

// Typography
$color-text: $color-black;
$color-text-inverted: $color-white;
